# Xcode
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xccheckout
*.xcscmblueprint

# SwiftPM
.build/
Package.resolved
.swiftpm/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/screenshots
fastlane/test_output

# Outros
*.DS_Store
*.log
*.swp
*.lock
*.orig

# Simulador
coreSimulatorLogs/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Arquivos de distribuição
*.xcarchive
*.ipa
*.dSYM.zip
*.dSYM